.nav {
  width: 100%;
  font-size: 16px;
  position: fixed;
  z-index: 10;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/c_crop,f_auto,g_center,h_1600,q_60,w_1200/v1600105784/Exotic%20Explorers/triangles-darkgreen.svg") no-repeat center;
  background-size: 1200px; }
  .nav .nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; }
  .nav ul.opening {
    display: block;
    text-align: center;
    font-size: 38px;
    font-weight: 700; }
  .nav li {
    opacity: 0.95;
    border-bottom: 1px solid #f6f4e2;
    padding: 10px;
    color: #eee; }
  .nav a {
    color: #eee;
    display: block;
    text-decoration: none; }
  .nav li:hover,
  .nav nav a:focus {
    color: #ff8c1a; }

.dropdown-root {
  cursor: pointer; }
  .dropdown-root:hover {
    color: #ff8c1a; }

.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; }
  .dropdown li {
    outline: 0.1px solid white;
    background-size: 300%;
    font-size: 0.6em;
    height: 40px; }

.dropdown-hide {
  display: none; }

.dropdown-show {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .dropdown-show li {
    display: grid;
    justify-content: center;
    align-items: center; }

/* CSS MENU TOGGLE*/
.menu-toggle {
  position: fixed;
  padding: 1.5em;
  top: 0em;
  right: 0em;
  cursor: pointer;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg") no-repeat center;
  border-radius: 0% 0% 0% 10%;
  z-index: 2; }

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #222;
  height: 3px;
  width: 2em;
  border-radius: 1px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms; }

.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px); }

.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px); }

.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.open .hamburger::before {
  display: none; }

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg); }

@media screen and (min-width: 700px) {
  .menu-toggle {
    display: none; }

  .nav {
    display: block;
    border-bottom: 1px solid white;
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg") no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 2px; }
    .nav .nav-ul {
      display: flex;
      justify-content: space-around; }
      .nav .nav-ul li {
        background: none;
        color: white;
        font-size: 1.5em;
        text-shadow: 1px 1px black;
        border: none; }
    .nav .dropdown-root {
      position: relative; }
      .nav .dropdown-root:hover {
        text-decoration: underline; }
    .nav .dropdown {
      grid-template-columns: repeat(6, 1fr);
      position: absolute;
      top: 100%;
      width: 100%;
      font-size: 0.8em;
      font-weight: 700; }
      .nav .dropdown li {
        height: 40px;
        border: 1px solid white;
        background: url("https://res.cloudinary.com/mtreeves24/image/upload/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg") center;
        background-size: 300%; }
    .nav a:hover,
    .nav nav a:focus {
      color: white;
      text-decoration: underline; } }
.contact {
  grid-area: contact;
  position: relative;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-mobile.svg") no-repeat center;
  text-align: center;
  padding: 20px 0px 30px 0px;
  color: white;
  font-weight: 700;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45); }
  .contact .details .logo {
    height: 100px;
    margin: 6px 6px 20px 6px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .contact .details p {
    margin-top: 0;
    background: none; }
  .contact .details a {
    text-decoration: none;
    color: #222; }
  .contact .details .number-email {
    text-decoration: none;
    color: white; }
  .contact .details .hexagons {
    display: flex;
    margin: 0 auto;
    width: 300px; }
  .contact .details .hexagon-wrapper {
    margin: auto;
    text-align: initial;
    width: 100px;
    height: 100px; }
  .contact .details .hexagon {
    position: relative;
    width: 46%;
    height: 80%;
    margin: auto;
    background: linear-gradient(-180deg, white, #ff8c1a);
    transition: 0.5s; }
    .contact .details .hexagon img {
      position: absolute;
      top: 20%;
      left: 0;
      z-index: 1;
      margin: auto;
      width: 100%;
      -webkit-background-clip: text; }
  .contact .details .hexagon:before,
  .contact .details .hexagon:after {
    position: absolute;
    content: "";
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0;
    transition: 0.5s;
    transform-origin: center; }
  .contact .details .hexagon:before {
    transform: rotateZ(60deg); }
  .contact .details .hexagon:after {
    transform: rotateZ(-60deg); }
  .contact .details .hexagon:hover {
    border-radius: 50px;
    transition: 0.5s; }
  .contact .details .hexagon:hover:before {
    border-radius: 50px;
    transition: 0.5s; }
  .contact .details .hexagon:hover:after {
    border-radius: 50px;
    transition: 0.5s; }

.form fieldset {
  width: 80vw;
  margin: 20px auto;
  border: 2px solid white; }
  .form fieldset legend {
    font-size: 40px;
    font-weight: 500; }
.form input {
  height: 30px;
  width: 250px;
  text-align: center;
  margin-bottom: 10px; }
.form textarea {
  width: 90%;
  margin-top: 0.8em;
  resize: none;
  padding: 10px 10px 0px 10px; }
.form label {
  font-size: 25px; }
.form .submit {
  height: 3em;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer; }
  .form .submit:focus {
    outline: 0; }

.copyright {
  grid-area: copyright;
  display: flex;
  justify-content: space-around;
  align-items: end;
  background: #5e5d52;
  padding: 5px 10px;
  font-size: 10px;
  color: white; }
  .copyright p {
    margin: 0px; }
  .copyright a {
    color: white; }

@media only screen and (min-width: 700px) {
  .contact {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg") center;
    background-size: cover; } }
@media only screen and (min-width: 1200px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: inherit; }
    .contact fieldset {
      width: 85%; } }
.hero {
  grid-area: hero;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero img {
    padding-top: 1em; }
  .hero h1 {
    font-weight: 100;
    color: #222;
    font-size: 1.2em;
    text-align: center; }

@media screen and (min-width: 700px) {
  .hero {
    padding-top: 3em; } }
html {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: 200; }

body {
  margin: 0;
  text-align: center; }

.button {
  font-size: 0.8em;
  background: rgba(111, 111, 111, 0);
  padding: 0.6em 0.6em;
  border: 0.1em solid #ffffff;
  text-decoration: none;
  color: #fff;
  text-align: center;
  transition: all 0.2s;
  text-shadow: none; }
  .button:hover {
    color: #000;
    background-color: #fff; }

.title {
  text-align: center;
  font-size: max(3vw, 35px);
  padding: 0px 5px;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45); }

@media screen and (min-width: 700px) {
  .button-mobile {
    visibility: hidden; } }
iframe {
  z-index: 300 !important; }

.fb_dialog {
  z-index: 299 !important; }

.fb_dialog_advanced {
  z-index: 299 !important; }

.animals {
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/f_auto,q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-mobile.svg") no-repeat;
  background-position: center;
  border-bottom: 3px solid white;
  color: white; }
  .animals h1 {
    padding-top: 5%; }
  .animals p {
    padding: 1% 3%; }

.gallery {
  border-bottom: 0.5rem solid white; }
  .gallery * {
    margin: 0; }
  .gallery h1 {
    padding-top: 5%; }
  .gallery .blank-space-maker {
    display: none; }

.my-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5%;
  margin-bottom: 10%;
  justify-content: space-around; }
  .my-gallery .gallery-item {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4); }
    .my-gallery .gallery-item img {
      height: 100%;
      width: 100%;
      transition: transform 400ms ease-out; }
      .my-gallery .gallery-item img:hover {
        scale: 1.01;
        transform: scale(1.15); }
    .my-gallery .gallery-item .gallery-overlay {
      color: white; }
      .my-gallery .gallery-item .gallery-overlay h4 {
        display: grid;
        padding: 0px 2%;
        height: 3.5em;
        align-content: center;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        transition: transform 400ms ease-out; }
    .my-gallery .gallery-item figcaption {
      display: none; }

.birdgallery,
.mammalgallery,
.amphibiansgallery {
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-orange-mobile.svg") no-repeat;
  background-size: cover; }

.reptilegallery,
.invertsgallery {
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/f_auto,q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-mobile.svg") no-repeat center;
  background-size: cover; }

@media screen and (min-width: 700px) {
  .animals {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg") no-repeat;
    background-position: center;
    background-size: cover; }
    .animals .title {
      padding-top: 2%; }

  .gallery h1 {
    padding: 2%; }

  .my-gallery {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10%;
    margin-bottom: 5%; }

  .birdgallery,
  .mammalgallery,
  .amphibiansgallery {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992918/Exotic%20Explorers/triangles/triangles-orange-wide2.svg") no-repeat;
    background-size: cover; }

  .reptilegallery,
  .invertsgallery {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg") no-repeat;
    background-size: cover; } }
@media only screen and (min-width: 1200px) {
  .animals {
    padding: 0 10%; }

  .gallery .blank-space-maker {
    display: block; }

  .birds {
    grid-template-columns: repeat(6, 1fr); }

  .reptiles {
    grid-template-columns: repeat(6, 1fr); }

  .mammals {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: ". one two three four ." ". five six seven eight ."; }
    .mammals .ga-1 {
      grid-area: one; }
    .mammals .ga-2 {
      grid-area: two; }
    .mammals .ga-3 {
      grid-area: three; }
    .mammals .ga-4 {
      grid-area: four; }
    .mammals .ga-5 {
      grid-area: five; }
    .mammals .ga-6 {
      grid-area: six; }
    .mammals .ga-7 {
      grid-area: seven; }
    .mammals .ga-8 {
      grid-area: eight; }

  .inverts {
    grid-template-columns: repeat(6, 1fr); }

  .amphibians {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". one two three ."; }
    .amphibians .ga-1 {
      grid-area: one; }
    .amphibians .ga-2 {
      grid-area: two; }
    .amphibians .ga-3 {
      grid-area: three; } }

/*# sourceMappingURL=animals.css.map */
