html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 200; }

body {
  margin: 0; }

.see-more {
  font-size: 0.8em;
  background: rgba(111, 111, 111, 0);
  padding: 0.6em 0.6em;
  border: 0.1em solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s; }
  .see-more:hover {
    color: #000;
    background-color: #fff; }

.grid-container {
  display: grid;
  grid-template-areas: "nav" "hero" "about" "services"; }

.nav {
  grid-area: nav;
  background: #ff8b00;
  background: linear-gradient(177deg, #ff8c1a, rgba(255, 139, 0, 0.7497199563) 35%, rgba(255, 190, 0, 0.6208684157) 100%);
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgba(100, 100, 150, 0);
  font-size: 16px;
  position: fixed;
  z-index: 1; }
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; }
  .nav ul.opening {
    display: block;
    padding-top: 0em;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 700; }
  .nav li {
    border-bottom: 1px solid #f6f4e2; }
  .nav li:last-child {
    border-bottom: none; }
  .nav a {
    color: #eee;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-decoration: none;
    background: url("cool-background.png") no-repeat top;
    opacity: 0.95; }
  .nav a:hover,
  .nav nav a:focus {
    color: #ff8c1a; }

/* CSS MENU TOGGLE*/
.menu-toggle {
  position: fixed;
  padding: 1.5em;
  top: 0em;
  right: 0em;
  cursor: pointer;
  background: url("cool-background.png") no-repeat top;
  border-radius: 6%;
  z-index: 2; }

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #222;
  height: 3px;
  width: 2em;
  border-radius: 1px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms; }

.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px); }

.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px); }

.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.open .hamburger::before {
  display: none; }

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg); }

.hero {
  grid-area: hero;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero img {
    width: 100%;
    max-width: 320px; }
  .hero h1 {
    font-family: century-gothic-regular;
    font-weight: 100;
    font-size: 1.3em;
    text-align: center; }

.about {
  grid-area: about;
  background: url("cool-background.png") no-repeat;
  background-size: cover;
  border-bottom: 0.5em solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .about .about-text {
    color: white;
    max-width: 800px;
    text-align: center;
    padding: 0px 20px 60px 20px; }
    .about .about-text h4 {
      padding-bottom: 20px; }
    .about .about-text a {
      font-size: 1em;
      padding: 20px 60px; }
  .about img {
    margin: 1em;
    border: 0.5em solid white;
    width: 80%;
    max-width: 20em;
    border-radius: 50%; }

.services {
  grid-area: services;
  background: rgba(255, 139, 0, 0.5);
  background: linear-gradient(177deg, #ff8c1a, rgba(255, 139, 0, 0.7497199563) 35%, rgba(255, 190, 0, 0.8) 100%);
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  min-height: 40vh;
  padding: 0vw 1vw; }
  .services h1 {
    font-size: max(3vw, 35px);
    margin: 20px; }

.panels {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; }

.panel {
  position: relative;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  border: 1px solid white;
  margin: 0.2em;
  height: 250px;
  min-width: 110px;
  width: 100%;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column; }
  .panel h1 {
    align-items: stretch;
    padding-top: 20px;
    font-size: 0.9em; }
  .panel .see-more-mobile {
    position: absolute;
    bottom: 10%; }
  .panel .service-desc {
    visibility: hidden;
    width: 98%;
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    background: #ff8b00;
    background: linear-gradient(177deg, #ff8c1a, rgba(255, 139, 0, 0.5) 35%, rgba(255, 190, 0, 0.5) 100%);
    border: 1px solid white; }
    .panel .service-desc a {
      width: 50%;
      margin-top: 4%;
      padding-top: 3%;
      text-shadow: none; }

.panel1 {
  background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/v1591306277/Exotic%20Explorers/Tito_1.webp"); }

.panel2 {
  background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/v1591306275/Exotic%20Explorers/thumbnail_Image-4.webp"); }

.panel3 {
  background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,w_741/v1591306278/Exotic%20Explorers/tiddlywink_web.webp"); }

.panel4 {
  background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,w_1019/v1591306277/Exotic%20Explorers/zebra_leg.webp"); }

.panel5 {
  background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/v1591306261/Exotic%20Explorers/barn_owl_web.webp"); }

.panel6 {
  background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/v1591306276/Exotic%20Explorers/thumbnail_IMG_1128.webp"); }

.panel > * {
  margin: 0;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.panel.open-active > *:first-child {
  transform: translateY(0); }

.panel > *:last-child {
  transform: translatex(1900%); }

.panel.open-active > *:last-child {
  transform: translateY(0); }

.panel.open {
  transition: all 0.5s ease-in-out;
  flex: 5; }

@keyframes bouncing {
  0% {
    top: 49%; }
  70% {
    top: 50%; }
  100% {
    top: 49%; } }
.bouncing-finger {
  visibility: hidden;
  animation: bouncing 1s infinite ease-in-out;
  top: 50%;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute; }

@media screen and (min-width: 700px) {
  .menu-toggle {
    display: none; }

  .nav {
    display: block;
    border-bottom: 1px solid white;
    background: url("cool-background.png") no-repeat;
    background-size: 100%;
    padding: 2px; }
    .nav ul {
      display: flex;
      justify-content: space-around; }
      .nav ul li {
        border: none; }
    .nav a {
      background: none;
      color: white;
      font-size: 1.5em;
      text-shadow: 1px 1px black; }
    .nav a:hover,
    .nav nav a:focus {
      color: white;
      text-decoration: underline; }

  .hero {
    padding-top: 3em; }

  .services .panel {
    min-height: 500px;
    min-width: 250px;
    max-width: 100%; }
    .services .panel h1 {
      font-size: 2rem;
      align-items: stretch; }
    .services .panel .bouncing-finger {
      visibility: visible; }
    .services .panel .see-more-mobile {
      visibility: hidden; }
    .services .panel .service-desc {
      visibility: visible;
      padding: 0px 5px;
      font-size: 1.2em; } }
@media only screen and (min-width: 1200px) {
  .panel {
    min-width: 200px; }
    .panel p {
      font-size: 2em; } }

/*# sourceMappingURL=ee.css.map */
