//********************NAV START********************//
.nav {
  width: 100%;
  font-size: 16px;
  position: fixed;
  z-index: 10;
  .nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  ul.opening {
    display: block;
    // height: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
  }
  li {
    background: url("images/triangles-darkgreen.svg") no-repeat top;
    background-size: 100%;
    opacity: 0.95;
    border-bottom: 1px solid #f6f4e2;
    padding: 10px;
    color: #eee;
  }

  a {
    color: #eee;
    // font-weight: bold;
    display: block;
    text-decoration: none;
    // background: rgba(20, 20, 20, 0.9);
  }
  a:hover,
  nav a:focus {
    color: $color-orange;
  }
}
////////////////////////////////////////////////////////
.dropdown-root {
  cursor: pointer;
  &:hover {
    color: $color-orange;
  }
}
.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    background: url("images/triangles-darkgreen.svg") top;
    border: 0.1px solid white;
    background-size: 300%;
    font-size: 0.6em;
    height: 70px;
  }
}
.dropdown-hide {
  display: none;
}

.dropdown-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  li {
    display: grid;
    justify-content: center;
    align-items: center;
    transition: 1s all ease-in;
  }
}

/* CSS MENU TOGGLE*/
.menu-toggle {
  position: fixed;
  padding: 1.5em;
  top: 0em;
  right: 0em;
  cursor: pointer;
  background: url("images/triangles-green-wide.svg") no-repeat center;
  border-radius: 0% 0% 0% 10%;
  z-index: 2;
}

//HAMBURGER START//
.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #222;
  height: 3px;
  width: 2em;
  border-radius: 1px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}
.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}
.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.open .hamburger::before {
  display: none;
}
.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}
//HAMBURGER END//

@media screen and (min-width: 700px) {
  .menu-toggle {
    display: none;
  }
  .nav {
    display: block;
    border-bottom: 1px solid white;
    background: url("images/triangles-green-wide.svg") no-repeat;
    background-size: 100%;
    background-position: center;
    // background: url("orange-cool-background.png") no-repeat;
    padding: 2px;
    .nav-ul {
      display: flex;
      justify-content: space-around;
      li {
        background: none;
        color: white;
        font-size: 1.5em;
        text-shadow: 1px 1px black;
        border: none;
      }
    }
    .dropdown-root {
      position: relative;
      &:hover {
        text-decoration: underline;
      }
    }
    .dropdown {
      grid-template-columns: repeat(6, 1fr);
      position: absolute;
      top: 100%;
      width: 100%;
      font-size: 0.7em;
      font-weight: 700;
      li {
        height: 40px;
        border: 1px solid white;
        background: url("images/triangles-green-wide.svg") center;
        background-size: 300%;
      }
    }
    a:hover,
    nav a:focus {
      color: white;
      text-decoration: underline;
    }
  }
}
