.animals {
  background: url("../images/triangles/triangles-green-mobile.svg") no-repeat;
  background-position: center;
  border-bottom: 3px solid white;
  color: white;
  h1 {
    padding-top: 5%;
  }
  p {
    padding: 1% 3%;
  }
}

.gallery {
  * {
    margin: 0;
  }
  border-bottom: 0.5rem solid white;
  h1 {
    padding-top: 5%;
  }
  .blank-space-maker {
    display: none;
  }
}
.my-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5%;
  margin-bottom: 10%;
  justify-content: space-around;
  .gallery-item {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    img {
      height: 100%;
      width: 100%;
      transition: transform 400ms ease-out;
      &:hover {
        scale: 1.01;
        transform: scale(1.15);
      }
    }
    .gallery-overlay {
      color: white;
      h4 {
        display: grid;
        padding: 0px 2%;
        height: 3.5em;
        align-content: center;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.5);
        pointer-events: none;
        transition: transform 400ms ease-out;
      }
    }
    figcaption {
      display: none;
    }
  }
}

.birdgallery,
.mammalgallery,
.amphibiansgallery {
  background: url("../images/triangles/triangles-orange-mobile.svg") no-repeat;
  background-size: cover;
}

.reptilegallery,
.invertsgallery {
  background: url("../images/triangles/triangles-green-mobile.svg") no-repeat
    center;
  background-size: cover;
}

@media screen and (min-width: 700px) {
  .animals {
    background: url("../images/triangles/triangles-green-wide.svg") no-repeat;
    background-position: center;
    background-size: cover;
    .title {
      padding-top: 2%;
    }
  }

  .gallery {
    h1 {
      padding: 2%;
    }
  }
  .my-gallery {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10%;
    margin-bottom: 5%;
  }
  .birdgallery,
  .mammalgallery,
  .amphibiansgallery {
    background: url("../images/triangles/triangles-orange-wide.svg") no-repeat;
    background-size: cover;
  }
  .reptilegallery,
  .invertsgallery {
    background: url("../images/triangles/triangles-green-wide.svg") no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 1200px) {
  .animals {
    padding: 0 10%;
  }
  .gallery {
    .blank-space-maker {
      display: block;
    }
  }

  .birds {
    grid-template-columns: repeat(6, 1fr);
  }
  .reptiles {
    grid-template-columns: repeat(6, 1fr);
  }
  .mammals {
    grid-template-columns: repeat(6, 1fr);
  }
  .inverts {
    grid-template-columns: repeat(5, 1fr);
  }
  .amphibians {
    grid-template-columns: repeat(5, 1fr);
  }
}
