.blog-container {
  margin-top: 5%;
  .blog {
    color: white;
    text-align: center;
    padding: 1% 3%;
    grid-area: about-us;
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/f_auto,q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-mobile.svg")
      no-repeat center;
    background-size: cover;
    border-bottom: 3px solid white;
  }
}

@media screen and (min-width: 700px) {
  .blog {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg")
      no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .blog-container {
    margin-top: 3%;
  }
}

.fb_customer_chat_bubble_animated_no_badge {
  background: none !important;
  border-radius: 50% !important;
  bottom: 50pt !important;
  display: inline !important;
  padding: 0px !important;
  position: fixed !important;
  right: 8pt !important;
  top: auto !important;
}
