.blog-container {
  // * {
  //   outline: 1px solid red;
  // }
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 3%;
  border-bottom: 5px solid white;
  // background: #abbaab; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to bottom,
  //   #ffffff,
  //   #e4e4e4
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to bottom,
  //   #ffffff,
  //   #e4e4e4
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //   background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-grey-wide.svg")
  //     no-repeat;
  //   background-size: cover;
  span {
    color: #222;
  }
  a {
    color: darkgreen;
    &:hover {
      outline: 1px solid darkgreen;
    }
  }
}

.blog {
  width: 90%;
  max-width: 1400px;
  padding-top: 3%;
  margin: 0 auto;
}

.cover-photo {
  margin-top: 3%;
  width: 100%;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.4);
}

.heading {
  line-height: 1.5em;
  margin: 0;
  font-size: max(2.8vw, 35px);
  padding: 0px 5px;
  color: #000;
}

.subheading {
  margin-bottom: 15px;
}

.paragraph1 {
  font-size: 1.2em;
  margin: 1em auto;
}

.paragraph {
  color: #000;
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
}

.blog-image {
  width: 95%;
  margin: 0 auto;
  // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 4px solid #555;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
}

blockquote {
  font-size: 0.9em;
  width: 70%;
  margin: 30px auto;
  font-style: italic;
  color: #333;
  padding: 1em 25px 1em 55px;
  border-left: 8px solid #006e4a;
  line-height: 1.6;
  position: relative;
  background: #eee;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #006e4a;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: #333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

html {
  -webkit-font-smoothing: antialiased;
}

.outtro {
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 5% 0 0 0;
}

@media screen and (min-width: 1200px) {
  .blog-container {
    margin-top: 0;
  }
  .grid-text-photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}

.fb_customer_chat_bubble_animated_no_badge {
  background: none !important;
  border-radius: 50% !important;
  bottom: 50pt !important;
  display: inline !important;
  padding: 0px !important;
  position: fixed !important;
  right: 8pt !important;
  top: auto !important;
}
