.faq {
  margin-top: 5%;
  color: white;
  display: grid;
  overflow: hidden;
}
.title {
  text-decoration: underline;
}
.image {
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.faq-container {
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  text-align: center;
}

.img-transparent-bg {
  position: absolute;
  bottom: -5%;
  left: 25%;
  pointer-events: none;

  img {
    width: 500px;
    opacity: 0.2;
  }
}
.question-set-3 {
  .img-transparent-bg {
    right: 0;
    left: 20%;
    bottom: -120px;
    img {
      width: 800px;
      opacity: 0.2;
    }
  }
}

.question-set-1 {
  position: relative;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/f_auto,q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-mobile.svg")
    no-repeat;
  background-position: center;
  padding: 20px;
}

.question-set-2 {
  position: relative;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-orange-mobile.svg")
    no-repeat;
  background-position: center;
  padding: 20px;
}

.question-set-3 {
  position: relative;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg")
    no-repeat;
  background-size: cover;
  padding: 20px;
}

.question-set-4 {
  position: relative;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-orange-mobile.svg")
    no-repeat;
  background-size: cover;
  padding: 20px;
  border-bottom: 5px solid white;
}

.faq-info {
  position: relative;
  border-bottom: 3px solid white;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-orange-mobile.svg")
    no-repeat;
  background-position: center;
  background-size: cover;
}
.title {
  margin: 0;
  padding: 2%;
}

@media screen and (min-width: 700px) {
  .faq {
    display: grid;
    width: 100%;
  }
  .img-transparent-bg {
    right: 0;
    left: 60%;
  }
  .question-set-1 {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg")
      no-repeat;
    background-size: cover;
  }
  .question-set-2 {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992918/Exotic%20Explorers/triangles/triangles-orange-wide2.svg")
      no-repeat;
    background-size: cover;
  }
  .question-set-3 {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg")
      no-repeat;
    background-size: cover;
  }
  .question-set-4 {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992918/Exotic%20Explorers/triangles/triangles-orange-wide2.svg")
      no-repeat;
    background-size: cover;
  }
  .image {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    max-width: 800px;
    border: 5px solid white;
  }
}

@media screen and (min-width: 1200px) {
  .faq {
    margin-top: 5%;
  }
  .img-transparent-bg {
    right: 0;
    left: 65%;
    img {
      opacity: 1;
    }
  }
  .question-set-3 {
    .img-transparent-bg {
      right: 0;
      left: 65%;

      img {
        width: 800px;
        opacity: 1;
      }
    }
  }

  .faq-container {
    text-align: left;
  }
  .question,
  .answer,
  .img-container {
    text-align: left;
    padding-left: 2%;
    padding-right: 35%;
  }
}

@media screen and (min-width: 1470px) {
  .img-transparent-bg {
    left: 75%;
    max-height: 900px;
  }
  .question-set-3 {
    .img-transparent-bg {
      right: 0;
      left: 65%;
      bottom: -80px;
      img {
        width: 800px;
      }
    }
  }
  .question,
  .answer,
  .img-container {
    padding-left: 5%;
  }
}
