.grid-container {
  display: grid;
  grid-template-areas:
    "hero"
    "about"
    "covid-news"
    "services"
    "gallery"
    "testimonials"
    "contact"
    "footer"
    "copyright"
    "hexagons";
}

.covid-news {
  grid-area: covid-news;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,f_auto,q_60,w_500/v1600090796/Exotic%20Explorers/covid-19.jpg")
    no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  border-bottom: 0.5em solid white;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: white;
  .covid-text {
    padding: 0px 20px 20px 20px;
  }
  p {
    margin-top: 0;
    text-align: center;
    a {
      font-weight: 700;
    }
  }
  h4 {
    margin-bottom: 0;
  }
  ul {
    margin-top: 5px;
    padding: 0px 20px 0px 20px;
    li {
      padding: 5px;
      list-style-type: none;
    }
    a {
      color: white;
      font-weight: 700;
      &:hover {
        outline: 1px solid white;
      }
    }
  }
}

.about {
  grid-area: about;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/f_auto,q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-mobile.svg")
    no-repeat center;
  border-bottom: 0.5em solid white;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .about-text {
    color: white;
    max-width: 900px;
    text-align: center;
    padding-bottom: 60px;
    margin: 0px 10px;
    h1 {
      font-size: 1.5em;
    }
    p {
      a {
        color: white;
        padding: 0;
      }
    }
    .slogan {
      font-weight: 700;
      padding-bottom: 20px;
    }
    a {
      font-size: 1em;
      padding: 20px 60px;
    }
  }
  img {
    margin: 1em;
    border: 0.5rem solid white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 80%;
    max-width: 20em;
    border-radius: 50%;
  }
}

.services {
  grid-area: services;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/f_auto,q_50/v1601992918/Exotic%20Explorers/triangles/triangles-grey-mobile.svg")
    no-repeat center;
  background-size: cover;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  min-height: 40vh;
  padding: 0vw 1vw;
  border-bottom: 0.5rem solid white;
  .title {
    margin: 20px;
  }
  .panels {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  .panel {
    position: relative;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    border: 1px solid white;
    margin: 0.2em;
    height: 250px;
    min-width: 25%;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
      flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    h3 {
      align-items: stretch;
      padding-top: 20px;
      font-size: 0.9em;
    }
    .button-mobile {
      position: absolute;
      bottom: 10%;
      width: 70px;
    }
    .service-desc {
      visibility: hidden;
      width: 97%;
      display: flex;
      flex-direction: column;
      font-size: 0.6em;
      background: rgb(223, 123, 0);
      background: linear-gradient(
        177deg,
        green,
        rgba(5, 136, 1, 0.8) 35%,
        rgba(0, 92, 0, 0.8) 100%
      );
      border: 1px solid white;
      a {
        width: 50%;
        margin-top: 4%;
        padding-top: 3%;
      }
    }
  }
  .panel1 {
    background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,f_auto,q_60,w_400/v1593293903/Exotic%20Explorers/services-photos/twyla.jpg");
  }
  .panel2 {
    background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,f_auto,q_60,w_400/v1601407771/Exotic%20Explorers/services-photos/Katniss_-_Reticulated_Python.jpg");
  }
  .panel3 {
    background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,f_auto,q_60,w_400/v1593293923/Exotic%20Explorers/services-photos/hedgehog.jpg");
  }
  .panel4 {
    background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,f_auto,q_60,w_400/v1593294008/Exotic%20Explorers/services-photos/tarantula.jpg");
  }
  .panel5 {
    background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,f_auto,q_60,w_400/v1593293974/Exotic%20Explorers/services-photos/tortoise.jpg");
  }
  .panel6 {
    background-image: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,f_auto,q_60,w_400/v1593293960/Exotic%20Explorers/services-photos/squirrelthing.jpg");
  }

  // /* Flex Items */
  .panel > * {
    margin: 0;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .panel > *:first-child { transform: translateY(-100%); }

  .panel.open-active > *:first-child {
    transform: translateY(0);
  }
  .panel > *:last-child {
    transform: translatex(1900%);
  }
  .panel.open-active > *:last-child {
    transform: translateY(0);
  }

  // .panel p:nth-child(2) {
  //   font-size: 4em;
  // }
  .panel.open {
    transition: all 0.5s ease-in-out;
    flex: 3 1;
  }
}

@keyframes bouncing {
  0% {
    top: 49%;
  }
  70% {
    top: 50%;
  }
  100% {
    top: 49%;
  }
}

.bouncing-finger {
  visibility: hidden;
  animation: bouncing 1s infinite ease-in-out;
  top: 50%;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
}

.gallery {
  grid-area: gallery;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/c_fill,h_1057,q_57,w_888/v1591997326/Exotic%20Explorers/flock-of-birds-flying-above-the-mountain-during-sunset-70577.webp")
    no-repeat;
  background-size: cover;
  border-bottom: 0.5rem solid white;
}
.my-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 5% 2%;
  margin-bottom: 10%;
  justify-content: space-around;
  .gallery-item {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    img {
      height: 100%;
      width: 100%;
      transition: transform 400ms ease-out;
      &:hover {
        scale: 1.01;
        transform: scale(1.15);
      }
    }
    figcaption {
      display: none;
    }
  }
}

//TESTIMONIALS//
.testimonials {
  grid-area: testimonials;
  background: url("https://res.cloudinary.com/mtreeves24/image/upload/f_auto,q_70/v1601992918/Exotic%20Explorers/triangles/triangles-grey-mobile.svg")
    no-repeat center;
  background-size: cover;
  padding-bottom: 30px;
  border-bottom: 0.5rem solid white;

  .testimonial-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  figure.quote {
    font-family: "Raleway", Arial, sans-serif;
    flex: 1 1 10%;
    position: relative;
    overflow: hidden;
    margin: 10px 5%;
    min-width: 220px;
    max-width: 510px;
    width: 100%;
    color: #333;
    text-align: left;
    * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    img {
      max-width: 100%;
      max-height: 150px;
      margin-bottom: 5px;
      margin-top: -10px;
      display: inline-block;
      z-index: 1;
      position: relative;
    }

    blockquote {
      margin: 0;
      display: block;
      border-radius: 8px;
      position: relative;
      background-color: #fafafa;
      padding: 30px 40px 65px 40px;
      font-size: 0.8em;
      font-weight: 500;
      margin: 0 0 -50px;
      line-height: 1.6em;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
    .owner {
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    }
    .owner h5 {
      opacity: 0.8;
      margin: 0;
      font-weight: 800;
    }
    .owner h5 span {
      font-weight: 400;
      text-transform: none;
      display: block;
    }
  }
  figure.quote blockquote:before,
  figure.quote blockquote:after {
    font-family: "FontAwesome";
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
  }
  figure.quote blockquote:before {
    top: 35px;
    left: 13px;
  }
  figure.quote blockquote:after {
    content: "\201D";
    right: 35px;
    bottom: 35px;
  }
  .more-quotes {
    display: none;
  }

  .read-more-state {
    display: none;
  }

  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 0.25s ease;
  }

  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }

  .read-more-state ~ .read-more-trigger:before {
    content: "Show more";
  }

  .read-more-state:checked ~ .read-more-trigger:before {
    content: "Show less";
  }

  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5em;
    color: #666;
    font-size: 0.9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: 0.25em;
  }
  p {
    padding: 0 4%;
  }
  .fb-link {
    &:hover {
      outline: 5px solid white;
    }
  }
}

@media screen and (min-width: 700px) {
  .about {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/q_60/v1601992915/Exotic%20Explorers/triangles/triangles-green-wide.svg")
      no-repeat center;
    background-size: cover;
  }
  .covid-news {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,f_auto,q_40,w_1700/v1600091696/Exotic%20Explorers/covid-19-wide.jpg")
      no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    ul {
      li {
        list-style-type: disc;
      }
    }
  }
  .services {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/f_auto,q_70/v1601992918/Exotic%20Explorers/triangles/triangles-grey-wide.svg")
      no-repeat;
    background-size: cover;
    .panel {
      min-height: 500px;
      width: 30vw;
      min-width: 30%;
      h3 {
        font-size: 2rem;
        align-items: stretch;
      }
      .bouncing-finger {
        visibility: visible;
      }
      .button-mobile {
        visibility: hidden;
      }
      .service-desc {
        visibility: visible;
        padding: 0px 5px;
        font-size: 1.2em;
      }
    }
  }
  .gallery {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/c_scale,q_58,w_1759/v1591997326/Exotic%20Explorers/flock-of-birds-flying-above-the-mountain-during-sunset-70577.jpg")
      no-repeat;
    background-size: cover;
  }
  .my-gallery {
    margin: 0 10%;
    margin-bottom: 5%;
    .gallery-item {
    }
  }
  .testimonials {
    background: url("https://res.cloudinary.com/mtreeves24/image/upload/f_auto,q_60/v1601992918/Exotic%20Explorers/triangles/triangles-grey-wide.svg")
      no-repeat center;
    background-size: cover;

    figure.quote {
      min-width: 270px;
      margin: 20px;
    }
    .more-quotes {
      display: block;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .about {
    margin-top: 3%;
    .about-text {
      padding: 0px 0px 60px 60px;
    }
  }
  .covid-news {
    background-position: 0px -250px;
    background-color: rgba(0, 0, 0, 0.4);
    p {
      padding: 0 20%;
    }
  }
  .services {
    .panel {
      min-width: 10%;
      .service-desc {
        font-size: 0.9em;
        transition: 0.2s all ease;
      }
      p {
        font-size: 2em;
      }
    }
    // /* Flex Items */
    .panel > * {
      margin: 0;
      transition: transform 0.5s;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .panel.open-active > *:first-child {
      transform: translateY(0);
    }
    .panel > *:last-child {
      transform: translatex(1900%);
    }
    .panel.open-active > *:last-child {
      transform: translateY(0);
    }

    .panel.open {
      transition: all 0.5s ease-in-out;
      flex: 1.5 1;
      .bouncing-finger {
        display: none;
      }
      .service-desc {
        font-size: 1.1em;
      }
    }
  }
  .my-gallery {
    z-index: 5000;
    grid-template-columns: repeat(6, 1fr);
  }
  .testimonials {
    padding: 0px 2%;
    figure.quote {
      min-width: 420px;
    }
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    fieldset {
      width: 85%;
    }
  }
}
