.services {
  color: white;
  display: grid;
}
.image {
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.intro-container {
  color: white;
  text-align: center;
  padding: 3%;
  .misc-services-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.5em;
    li {
      padding: 10px;
    }
    a {
      color: white;
      padding: 10px;
      &:hover {
        border: 0.1px solid white;
        border-radius: 5px;
      }
    }
  }
}
.service-hero {
  background: url("../images/triangles/triangles-green-mobile.svg") no-repeat;
  background-position: center;
  border-bottom: 3px solid white;
}

.service-info {
  border-bottom: 3px solid white;
  background: url("../images/triangles/triangles-orange-mobile.svg") no-repeat;
  background-position: center;
  background-size: cover;
  .prices {
    padding-top: 25px;
    border-bottom: 0.5px solid white;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    ul {
      list-style-type: none;
      padding: 0;
    }
  }
  .price {
    list-style-type: none;
    padding: 0;
    font-weight: 700;
    font-size: 1.5em;
  }
  h4 {
    padding: 0 2%;
  }
  a {
    color: white;
    &:hover {
      color: rgb(0, 168, 14);
    }
  }
}

.info-green-bg {
  background: url("../images/triangles/triangles-green-mobile.svg") no-repeat;
  background-position: center;
}

.weddings {
  height: 30vh;
}

.title {
  margin: 0;
  padding: 2%;
}

.platinum {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #b9baba,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #b9baba,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gold {
  background: #d4af37; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #181818,
    #d4af37
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #181818,
    #d4af37
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.silver {
  background: #99a1ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #99a1ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #99a1ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bronze {
  background: #6d6027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #cbb394,
    #6d6027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #cbb394,
    #6d6027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 8%;
  justify-content: space-around;
  .gallery-item {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    img {
      height: 100%;
      width: 100%;
      transition: transform 400ms ease-out;
      &:hover {
        scale: 1.01;
        transform: scale(1.15);
      }
    }
    figcaption {
      display: none;
    }
  }
}

@media screen and (min-width: 700px) {
  .my-gallery {
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 2%;
  }
  .service-prices-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: space-between;
    padding: 0 5%;
    .prices {
      border: 0.5px solid white;
      margin: 4%;
      position: relative;
      h1 {
        display: grid;
        align-items: center;
        height: 100px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          height: 70px;
          padding: 0 2%;
        }
        .li-padding {
          display: none;
        }
      }
    }
  }
  .service-prices-container-single {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: space-between;
    padding: 0 5%;
    .prices-single {
      border: 0.5px solid white;
      margin: 4%;
      position: relative;
    }
  }
  .service-hero {
    background: url("../images/triangles/triangles-green-wide.svg") no-repeat;
    background-size: cover;
    background-position: left;
    // background-size: 230%;
    // padding-top: 3%;
  }
  .service-info {
    background: url("../images/triangles/triangles-orange-wide.svg") no-repeat;
    background-size: cover;
    background-position: left;

    // padding-top: 3%;
  }
  .info-green-bg {
    background: url("../images/triangles/triangles-green-wide.svg") no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1100px) {
  .service-hero {
    background-size: cover;
  }
  .service-prices-container {
    grid-template-columns: repeat(4, 1fr);
    .prices {
      h1 {
        height: 140px;
      }
      .title {
        padding-top: 6%;
      }
      .service-prices-list {
        padding-top: 5%;
        align-items: center;
        .li-padding {
          display: block;
        }
      }
    }
    .service-prices-container-single {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .prices-single {
    }
  }
}
