//********************CONTACT START********************//
.contact {
  grid-area: contact;
  position: relative;
  background: url("../images/triangles/triangles-green-mobile.svg") no-repeat
    center;
  text-align: center;
  padding: 20px 0px 30px 0px;
  color: white;
  font-weight: 700;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);

  .details {
    .logo {
      height: 100px;
      margin: 6px 6px 20px 6px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    p {
      margin-top: 0;
      background: none;
    }
    a {
      text-decoration: none;
      color: #222;
    }
    .hexagons {
      display: flex;
      margin: 0 auto;
      width: 300px;
    }
    .hexagon-wrapper {
      margin: auto;
      text-align: initial;
      width: 100px;
      height: 100px;
    }

    .hexagon {
      position: relative;
      width: 46%;
      height: 80%;
      margin: auto;
      background: linear-gradient(-180deg, white, $color-orange);
      // display: flex;
      // align-content: center;
      // justify-content: center;
      transition: 0.5s;
      img {
        position: absolute;
        top: 20%;
        left: 0;
        z-index: 1;
        margin: auto;
        width: 100%;
        // color: transparent;
        // background-clip: text;
        -webkit-background-clip: text;
      }
    }
    .hexagon:before,
    .hexagon:after {
      position: absolute;
      content: "";
      background: inherit;
      height: 100%;
      width: 100%;
      border-radius: 0;
      transition: 0.5s;
      transform-origin: center;
    }
    .hexagon:before {
      transform: rotateZ(60deg);
    }
    .hexagon:after {
      transform: rotateZ(-60deg);
    }
    .hexagon:hover {
      border-radius: 50px;
      transition: 0.5s;
    }
    .hexagon:hover:before {
      border-radius: 50px;
      transition: 0.5s;
    }
    .hexagon:hover:after {
      border-radius: 50px;
      transition: 0.5s;
    }
  }
}
.form {
  fieldset {
    width: 80vw;
    margin: 20px auto;
    border: 2px solid white;
    legend {
      font-size: 40px;
      font-weight: 500;
    }
  }
  input {
    height: 30px;
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
    margin-top: 0.8em;
    resize: none;
  }
  label {
    font-size: 25px;
  }
  .submit {
    height: 3em;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
}
.copyright {
  grid-area: copyright;
  display: flex;
  justify-content: space-around;
  align-items: end;
  background: #5e5d52;
  padding: 5px 10px;
  font-size: 10px;
  color: white;
  p {
    margin: 0px;
  }
  a {
    color: white;
  }
}

@media only screen and (min-width: 700px) {
  .contact {
    background: url("../images/triangles/triangles-green-wide.svg") center;
    background-size: cover;
  }
}

@media only screen and (min-width: 1200px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: inherit;
    fieldset {
      width: 85%;
    }
  }
}
