.hero {
  grid-area: hero;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    max-width: 270px;
    padding-top: 1em;
  }
  h1 {
    font-weight: 100;
    color: #222;
    //Below is code for text outline if needed
    // text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;

    font-size: 1.2em;
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    padding-top: 3em;
  }
}
